body {
    background-color:black;
}

#game-menu {
    height: 400px;
    margin-top: 170px;
    background-color:#0749c3; 
    border: #071595 10px solid;
}

#quit-btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: #071595 5px solid;
    font-family: "Trirong", serif;
}

#quit-btn:hover {
    cursor: pointer;
    background-color:#acaeed;
}