body {
    background-color:black;
}

#game-menu {
    position: relative;
    top: 120px;
    height: 400px;
    background-color:#0749c3; 
    border: #071595 solid 5px;
}

#quit-btn {
    color: black;
    position: relative;
    top: 125px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: #071595 5px solid;
    font-family: "Audiowide";
}

#quit-btn:hover {
    cursor: pointer;
    background-color:#acaeed;
}

#stats {
    border: gray solid 5px;
    border-radius: 15px;
    background-color:dimgray;
    position: relative;
    top: 115px;
    color: white;
}

#stat {
    padding-right: 50px;
    position: relative;
    bottom: 10px;
    color: black;
    font-family: "Audiowide";
    font-size: 25px;
}

#health {
    position: relative;
    left: 5px;
    padding: 10px 10px 5px 10px;
    width: 34px;
    height: 30px;
}

#gold {
    padding: 0 7px 3px 0;
    width: 34px;
    height: 34px;
}

#xp {
    position: relative;
    left: 5px;
    width: 45px;
    height: 40px;
}

#text {
    margin: 10px;
    font-size: 20px;
    font-family: Verdana;
}

