@keyframes mobDeathAnimation {
    0% {
        filter: opacity(0%);
        transform: scale(1);
    }
    50% {
        filter: opacity(100%);
        transform: scale(1.1);
    }
    100% {
        filter: opacity(0%);
        transform: scale(1);
    }
}

.mobDeath {
    /* forwards maintains final state of animation, so after animation ends mob will stay opacity 0 */
    animation: mobDeathAnimation 0.7s 0.1s 2 ease-in-out forwards; 
}



/* IDEA FOR SLIME ATTACKS:
-ground shatter
- confusion (slime slides side to side very quickly, use translateX filter
-confusion + attack?: blur filter
 */
/*-=-=-=-=-=-=-=-*/
/* Slime Attacks */
/*-=-=-=-=-=-=-=*/

/* should do this to transition slime from default position to bounce starting position*/
@keyframes regularToBounce {
    from {
        width: 200px;
        height: 160px;
        background-size: 200px 160px; 
    }
    to {
        width: 230px;
        height: 90px;
        background-size: 230px 90px;
    }
}

/* default slime bounce */
@keyframes bounce {
    0% {
        width: 230px;
        height: 90px;
        background-size: 230px 90px;
    }
    50% {
        width: 120px;
        height: 190px;
        background-size: 120px 190px;
        transform: translateY(-220px);
    }
    100% {
        width: 230px;
        height: 90px;
        background-size: 230px 90px;
        transform: translateY(0px);
    }
}

@keyframes smash { /* slime charges up a jump, and jumps high and smashes into ground */
    0% { /* starts off from where last bounce ended off */
        width: 230px;
        height: 90px;
        background-size: 230px 90px;
    }
    30%, 60% { /* slime digs into ground, preparing to jump high */
        width: 270px;
        height: 70px;
        background-size: 270px 70px;
        /* top: 60% */
        transform: translateY(100px);
    }
    70%, 80% { /* high jump */
        width: 100px;
        height: 200px;
        background-size: 100px 200px;
        /* top: 5% */
        transform: translateY(-400px);
    }
    85% { /* smash into ground */
        width: 280px;
        height: 60px;
        background-size: 280px 60px;
        /* top: 70% */
        transform: translateY(150px);
    }
    100% { /* regular slime state */
        width: 200px;
        height: 160px;
        background-size: 200px 160px;
        transform: translateY(0px);
    }
}

.groundShatter {
    animation: regularToBounce 0.5s 0.5s, bounce 1s 1s 1 ease-in-out, smash 1.5s 2s ease-in-out;
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Animations player makes when attacked by mob */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

@keyframes groundShatterHitAnimation {
    0% {
        filter: grayscale(0%);
    }
    50% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

/* when hit by groound shatter */
.groundShatterHit { 
    animation: groundShatterHitAnimation 1s 1 linear;
}