@keyframes deathAnimation {
    0% {
        filter: opacity(0%);
        transform: scale(1);
    }
    50% {
        filter: opacity(100%);
        transform: scale(1.1);
    }
    100% {
        filter: opacity(0%);
        transform: scale(1);
    }
}

.death {
    animation: deathAnimation 0.7s 0.1s 2 ease-in-out forwards; /* forwards maintains final state of animation */
}

/* animation when mob gets hit by basic attack */
@keyframes basicAttackHitAnimation {
    0% {
        transform: translateX(0px);
        filter:blur(0px);
    }
    50% {
        transform: translateX(-40px);
        filter:blur(20px);
    }
    100% {
        transform: translateX(0px);
        filter:blur(0px);
    }
}

.basicAttackHit {
    animation: basicAttackHitAnimation 0.1s 1 linear;
}

@keyframes chargedAttackHitAnimation {
    0% {
        filter:blur(0px);
    }
    20% {
        transform: translateX(-20px);
    }
    40% {
        transform: translateX(20px);
        filter:blur(20px);
    }
    60% {
        transform: translateY(-20px);
        filter:blur(20px);
    }
    80% {
        transform: translateY(20px);
    }
    100% {
        filter:blur(0px);
    }
}

.chargedAttackHit {
    animation: chargedAttackHitAnimation 0.2s 5 linear;
}

@keyframes ultimateAttackHitAnimation {
    0% {
        transform: translateX(0px);
        filter:invert(0%);
    }
    25% {
        transform: translateX(-40px);
        filter:invert(100%);
    }
    75% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px);
        filter:blur(0%);
    }
}

.ultimateAttackHit {
    animation: ultimateAttackHitAnimation 0.15s 9 linear;
}

/* IDEA FOR ULT ATTACK HIT EFFECT: USE INVERT AND SPAM LEFT RIGHT TRANSLATEX*/


/* IDEA FOR SLIME ATTACKS:
-ground shatter
- confusion (slime slides side to side very quickly, use translateX filter
-confusion + attack?: blur filter
 */





/* -=SLIME ATTACKS=- */

/* should do this to transition slime from default position to bounce starting position*/
@keyframes regularToBounce {
    from {
        width: 200px;
        height: 160px;
        background-size: 200px 160px; 
    }
    to {
        width: 230px;
        height: 90px;
        background-size: 230px 90px;
    }
}

/* default slime bounce */
@keyframes bounce {
    0% {
        width: 230px;
        height: 90px;
        background-size: 230px 90px;
    }
    50% {
        width: 120px;
        height: 190px;
        background-size: 120px 190px;
        transform: translateY(-250px);
    }
    100% {
        width: 230px;
        height: 90px;
        background-size: 230px 90px;
        transform: translateY(0px);
    }
}

@keyframes smash { /* slime charges up a jump, and jumps high and smashes into ground */
    0% { /* starts off from where last bounce ended off */
        width: 230px;
        height: 90px;
        background-size: 230px 90px;
        /* top: 40%  */
    }
    30%, 60% { /* slime digs into ground, preparing to jump high */
        width: 270px;
        height: 70px;
        background-size: 270px 70px;
        top: 60%
    }
    70%, 80% { /* high jump */
        width: 100px;
        height: 200px;
        background-size: 100px 200px;
        top: 5%
    }
    85% { /* smash into ground */
        width: 280px;
        height: 60px;
        background-size: 280px 60px;
        top: 70%
    }
    100% { /* regular slime state */
        width: 200px;
        height: 160px;
        background-size: 200px 160px;
        /* top: 40%   */
    }
}

.groundShatter {
    animation: regularToBounce 0.5s 1.5s, bounce 1s 3 2s ease-in-out, smash 1.5s 5s ease-in-out;
}


/* regularToBounce for 0.5s after 1.5s delay (2s total), 
    bounce starts after 2s delay (so right after regularToBounce finishes) for 3 iterations, each iteration is 1s (3s total),
    groundShatter starts 5s delay (so right after the first two animations are finished) for 1.5s */
    /* animation: regularToBounce 0.5s 1.5s, bounce 1s 3 2s ease-in-out, groundShatter 1.5s 5s ease-in-out; */