@keyframes basicAttackAnimation {
    from {
        background-image: url("../img/attacks/basicAttack.gif");
    }
    to {
        background-image: url("../img/attacks/basicAttack.gif");
    }
}

#basicAttack {
    animation: basicAttackAnimation 0.5s linear;
    height: 100%;
    width: 90%;
    background-size:cover; 
}