@keyframes basicAttackAnimation {
    from {
        background-image: url("../img/attacks/basicAttack.gif");
    }
    to {
        background-image: url("../img/attacks/basicAttack.gif");
    }
}

#basicAttack {
    animation: basicAttackAnimation 0.5s linear;
    height: 100%;
    width: 90%;
    transform: scale(1.3);
    background-size:cover; 
}

@keyframes chargedAttackAnimation {
    0% {
        background-image: url("../img/attacks/chargedAttack.gif");
    }
    100% {
        background-image: url("../img/attacks/chargedAttack.gif");
    }
}

#chargedAttack {
    animation: chargedAttackAnimation 1s 1 linear;

    position: relative;
    height: 100%;
    width: 90%;
    left: -20px;
    
    transform: scale(2);
    background-size: cover;
}

@keyframes ultimateAttackAnimation {
    0% {
        background-image: url("../img/attacks/ultimateAttack1.gif");
    }
    100% {
        background-image: url("../img/attacks/ultimateAttack2.gif");
    }
}

#ultimateAttack {
    animation: ultimateAttackAnimation 0.2s 7 linear;

    position: relative;
    height: 60%;
    width: 170%;
    top: 20%;
    right: 50%;

    transform: scale(1.5);
    background-size:contain; 
    background-size: 100% 100%;
}