@keyframes playerDeathAnimation {
    0% {
        filter: opacity(100%) saturate(0%);
    }
    100% {
        filter: opacity(0%) saturate(0%);
    }
}

.playerDeath {
    animation: playerDeathAnimation 1.5s 1s linear;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Animations when player attacks mob */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

@keyframes basicAttackAnimation {
    from {
        background-image: url("../img/attacks/basicAttack.gif");
    }
    to {
        background-image: url("../img/attacks/basicAttack.gif");
    }
}

#basicAttack {
    animation: basicAttackAnimation 0.5s linear;
    height: 100%;
    width: 90%;
    transform: scale(1.3);
    background-size:cover; 
}

@keyframes chargedAttackAnimation {
    0% {
        background-image: url("../img/attacks/chargedAttack.gif");
    }
    100% {
        background-image: url("../img/attacks/chargedAttack.gif");
    }
}

#chargedAttack {
    animation: chargedAttackAnimation 1s 1 linear;
    
    position: relative;
    height: 100%;
    width: 90%;
    left: -20px;
    
    transform: scale(2);
    background-size: cover;
}

@keyframes ultimateAttackAnimation {
    0% {
        background-image: url("../img/attacks/ultimateAttack1.gif");
    }
    100% {
        background-image: url("../img/attacks/ultimateAttack2.gif");
    }
}

#ultimateAttack {
    animation: ultimateAttackAnimation 0.2s 7 linear;

    position: relative;
    height: 60%;
    width: 170%;
    top: 20%;
    right: 50%;

    transform: scale(1.5);
    background-size: contain; 
    background-size: 100% 100%;
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Animations mob makes when attacked by player */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

@keyframes basicAttackHitAnimation {
    0% {
        transform: translateX(0px);
        filter:blur(0px);
    }
    50% {
        transform: translateX(-40px);
        filter:blur(20px);
    }
    100% {
        transform: translateX(0px);
        filter:blur(0px);
    }
}

.basicAttackHit {
    animation: basicAttackHitAnimation 0.1s 1 linear;
}

@keyframes chargedAttackHitAnimation {
    0% {
        filter:blur(0px);
    }
    20% {
        transform: translateX(-20px);
    }
    40% {
        transform: translateX(20px);
        filter:blur(20px);
    }
    60% {
        transform: translateY(-20px);
        filter:blur(20px);
    }
    80% {
        transform: translateY(20px);
    }
    100% {
        filter:blur(0px);
    }
}

.chargedAttackHit {
    animation: chargedAttackHitAnimation 0.2s 5 linear;
}

@keyframes ultimateAttackHitAnimation {
    0% {
        transform: translateX(0px);
        filter:invert(0%);
    }
    25% {
        transform: translateX(-40px);
        filter:invert(100%);
    }
    75% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px);
        filter:blur(0%);
    }
}

.ultimateAttackHit {
    animation: ultimateAttackHitAnimation 0.15s 9 linear;
}