.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 3px;
    position: relative;
    top: 100px;
    border-radius: 5px;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-github {
    color: white;
    background: rgb(65, 62, 62);
}
  