.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 3px;
    position: relative;
    top: 100px;
    border-radius: 5px;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-linkedin:hover {
  background: linear-gradient(0deg, rgba(0,123,181,1) 0%, rgba(5,84,122,1) 100%);
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-youtube:hover {
  background: linear-gradient(0deg, rgba(187,0,0,1) 0%, rgba(121,9,9,1) 100%);
}

.fa-github {
    color: white;
    background: rgb(65, 62, 62);
}

.fa-github:hover {
  background: linear-gradient(0deg, rgba(65,62,62,1) 0%, rgba(41,39,39,1) 100%);
}
  