body {
    background-color:black;
}

#main-menu {
    border: #950740 10px solid;
    background-color:#c3073f; 
    margin-top: 100px;
    height: 200px;
    display: grid;
}

#title {
    text-align: center;
    font-family: "Trirong", serif;
}

#play-btn {
    border: #950740 5px solid;
    height: 50px;
    width: 200px;
    font-size: 25px;
    margin: auto;
    font-family: "Trirong", serif;
}

#play-btn:hover {
    cursor: pointer;
    background-color:#edacc044;
}