body {
    background-color:black;
}

#menu {
    border: #950740 10px solid;
    background-color:#c3073f; /*#6f2232 950740 c3073f*/
    margin-top: 100px;
    height: 200px;
}

#title {
    text-align: center;
   
}

#buttons {
    margin: auto;
    width: 50%;
}

.button {
    border: #950740 7px solid;
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.button:hover {
    background-color:#edacc044;
}